NEXT_PUBLIC_SUPABASE_URL=https://zismgliamuqrtgwonjen.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inppc21nbGlhbXVxcnRnd29uamVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUxODIyNTYsImV4cCI6MjA3MDc1ODI1Nn0.Gn97ecD3tZYa3yOTfGGqWzcZb_ZcZZj6cVXISkdm7Po
